body {
  background-color: #181a1b;
  font-family: "Valera Round";
  font-weight: bolder;
  color: #000000;
  margin-top: 50px;
  text-align: center;
  background-image: url('https://media.istockphoto.com/id/178895760/photo/an-abstract-blue-pattern-with-numbers.jpg?s=612x612&w=0&k=20&c=1ln1nhLfTB9w3EFGEXVRS7BG9S1rCK6RrrMpR_kXmrM=');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family "Valera Round";
  font-weight: bolder;
  text-decoration: underline;
  background-color: #736262;
  padding: 1px;
  width: 50;
}
h2 { 
  color:#181b1d;
  font-family: "Arial";
  font-size: 20px;
  font-weight: bolder;
    border-top: 5px dotted rgb(149, 175, 149);
    border-right: 300px dashed rgb(204, 191, 45);
    border-bottom: 15px dotted rgb(12, 75, 12);
    border-left: 300px dashed rgb(204, 191, 45);
}
a {display:block;
  text-decoration:none;
}

img{ width: 110px;
     height: 60px;
     position: fixed;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
}

form {
  align-items: center;
	display: flex;
  justify-content: center;
  margin-top: 24px;
}

#guess-input {
  border-radius: .25rem;
  padding: 5px 5px 5px 5px;
}

#prev-guesses-msg {
  font-size: 24px;
  margin-top: 24px;
}

#prev-guesses {
  font-size: 20px;
  margin-top: 16px;
}

#guess-button,
#reset-button {
  margin-left: 24px;
}

.high {
  color: #c50101;
}

.low {
  color:#154a76;
}

.winner {
  color: #eedc3b;
}

.error {
  color: #f13814;
}


